/**
 * Customer css file for hijackme
 */

/** imports a new font **/
@import url(http://fonts.googleapis.com/css?family=Lato:300);
@font-face
{
    font-family: 'Track';
    src: url('../fonts/Track.ttf'); /* IE9 Compat Modes */
    url('../fonts/Track.ttf') format('ttf'), /* Modern Browsers */
    url('../fonts/Track.ttf')  format('truetype'), /* Safari, Android, iOS */
}
.fa-lg{
    cursor: pointer;
}
.fa-lg:hover{
    color:#1abc9c;
}

.container{
    padding-top:39px;

}

.verticalAndHorCenter{


    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);

}


.formMargin{
    margin-top:29px;


}

.color_white{
    color:#fff;
}


/** backgound setting up **/
body{
    display:none;
    background: url('../img/facial-recognition-background.jpg') no-repeat left top fixed;
    background-size:cover;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;


}

.close-reveal-modal-landscape{
    right: -1rem !important;
    top: -2rem !important;
}


#background{
    background: url('../img/stars.png');
    -webkit-transition: -webkit-transform .5s;
    transition: transform .5s;
}

.panel{
    padding: 0.25rem;
}


/** hide scroller bar**/

::-webkit-scrollbar {
    display: none;
}


.divgap{
    margin-top:9%;
}

/** @button override**/
.Customerbutton{
    width:100%;
    height:150px;
    box-shadow: 0px 4px 0px 0px #3293ba;

    opacity: 0.9;
}
/** class circular for image **/
.circular {
	width: 150px;
	height: 150px;
	border-radius: 150px;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	}
/** color class **/
.whitecolor{
    color:#fff;
}
/** track font **/
.track_font{
    font-family: 'Lato';
    text-shadow: #000 1px 1px;
}

/** fileuploadfield **/
#fileuploadfield{
    overflow: hidden;
    position: relative;
}
#photouploadinput{
    position: absolute;
    left: 0;
    top: 19px;
    opacity: 0;
}

/** take photo zone **/
.videostream{
    background: rgba(255,255,255,0.5);
    border: 1px solid #ccc;
}
.videostream_sope{
    width: 100%;
    height: 250px;
}

.takephoto{
    color:rgb(245,112,102);
}

/** off-canvas-wrap **/

.tab-bar{
    background: #008CBA;
}

.left-small{
    border-right: solid 1px #FFFFFF;
}
.off-canvas-wrap{
    left: -1px;
}

.close-reveal-modal-upload{
    top: 0 !important;
    right: 0.6875rem !important;
}

.close-reveal-modal-photostore{
    top: -2.2rem !important;
    right: -6rem !important;
}


#scroller-section{
    height:100%;
    overflow:scroll;
}

.reveal-modal{
    -webkit-box-shadow: 7px -1px 73px -7px rgba(255,255,255,0.56) !important;
    -moz-box-shadow: 7px -1px 73px -7px rgba(255,255,255,0.56) !important;
    box-shadow: 7px -1px 73px -7px rgba(255,255,255,0.56) !important;
    overflow-x:hidden;
    overflow-y:scroll;
}

/****** imge pair*****/
.pair{
    margin-top:9px;
}
.pairlist{
    margin-left:9px;
}



/**** main section ***/
#mainsection{
    max-height: 500px;
    overflow-y: scroll;
    overflow-x: hidden;
}



/*** photo selection **/



.graidphotoButton{
    background-color: #e74c3c;
    border-color: #e74c3c;
}

.left-off-canvas-menu{
    left:-1px;
}


/****** show edit *******/
.showEdit{
    opacity:0;

}
.showEdit:hover{
    opacity:1;

}

#matchedPhotoThumbs{
    padding:19px;
}


.icon {
    background: #90C7DE;
    width: 100px;
    height: 100px;
    border-radius: 20px;
    overflow:hidden;
    z-index: 10;
    transition: opacity .25s ease-in-out;
    -moz-transition: opacity .25s ease-in-out;
    -webkit-transition: opacity .25s ease-in-out;
}


.fancybox-skin{

    box-shadow: 7px -1px 73px -7px rgba(255,255,255,0.56) !important;
    -ebkit-box-shadow: 7px -1px 73px -7px rgba(255,255,255,0.56) !important;

}
/******google map ***********/

#map{
    width:100%;
    height:450px;


}



.slide{
    display:none;

}

dl dd{
    background:rgb(250,250,250);
    margin-top:9px;
}
